.list-social-media-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: var(--size-3);
  align-content: stretch;
}

.list-social-media-posts li {
  background: var(--secondary-color);
  border: 0.15rem solid var(--border-color);
  border-radius: var(--border-radius);
}

.list-social-media-posts li video {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  width: 100%;
}

.list-social-media-posts li .details {
  padding: var(--size-3);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.list-social-media-posts li .details div {
  display: flex;
  gap: var(--size-3);
}

.list-social-media-posts li .details .channel-profile {
  display: flex;
  gap: var(--size-3);
  align-items: center;
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
  padding: var(--size-3) 0;
}

.list-social-media-posts li .details img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
}

.home table {
  background: var(--secondary-color);
  width: 100%;
  color: var(--body-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.home table img {
  width: var(--size-2);
  height: var(--size-2);
}

.home header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: var(--secondary-color);
  padding: var(--size-3) var(--size-3);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding-top: var(--size-3);
}

.home header select {
  background: var(--contrast-color);
  color: var(--primary-color);
  border: none;
  font-size: var(--body-text);
  padding: var(--size-4);
  cursor: pointer;
}

.home header select option {
  color: var(--primary-color);
  cursor: pointer;
}

tr,
th {
  text-align: left;
}

.actions {
  display: flex;
  gap: var(--size-3);
}

tr:last-child,
td:last-child {
  padding-bottom: var(--size-3);
}

td,
th {
  padding: var(--size-3) var(--size-3);
  box-sizing: border-box;
}

th {
  color: var(--contrast-color);
  font-weight: 500;
}

table td {
  text-align: left;
  vertical-align: middle;
}
