.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1000ms;
}

.modal-container {
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: var(--size-2);
  z-index: 100;
  max-height: 50rem;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.create-new-post-modal {
  display: flex;
  flex-direction: column;
  width: 60rem;
  box-sizing: border-box;
}

.create-new-post-modal h1 {
  text-align: left;
}

.create-new-post-modal .date-and-time {
  display: flex;
  gap: var(--size-3);
}

.create-new-post-modal .video-and-description {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.create-new-post-modal .video-and-description label {
  box-sizing: border-box;
}

.create-new-post-modal .video-and-description label:nth-child(2) input {
  display: none;
}

.create-new-post-modal .video-and-description label:nth-child(2) {
  height: 28rem;
  border: 1px solid var(--border-color);
  margin-top: 0.5rem;
  position: relative;
  cursor: pointer;
}

.create-new-post-modal .video-and-description label:nth-child(2)::after {
  content: "Choose Video";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--size-2);
}

.create-new-post-modal .cancel-and-upload {
  display: flex;
  gap: var(--size-3);
  margin-top: var(--size-3);
}

.cancel-and-upload button:first-child {
  background: var(--primary-color);
}

.cancel-and-upload button:last-child {
  background: var(--accent-color);
}

.video-and-description input,
.video-and-description textarea {
  height: 13rem;
  width: 100%;
  box-sizing: border-box;
}

.create-new-post-modal form {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-2);
  gap: var(--size-3);
  height: auto;
}

.delete-post-modal .ask-user-if-sure {
  display: grid;
  margin-top: var(--size-3);
  gap: var(--size-3);
}

.ask-user-if-sure div {
  display: flex;
  gap: var(--size-3);
}
