.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: 1000ms;
}

.modal-container {
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: var(--size-2);
  z-index: 100;
  box-sizing: border-box;
}

.create-new-post-modal {
  display: flex;
  flex-direction: column;
  width: 60rem;
  box-sizing: border-box;
}

.create-new-post-modal h1 {
  text-align: left;
}

.create-new-post-modal .date-and-access-token {
  display: flex;
  gap: var(--size-4);
}

.create-new-post-modal .video-and-description {
  display: flex;
  gap: var(--size-4);
}

.create-new-post-modal .video-and-description label {
  box-sizing: border-box;
}

.create-new-post-modal .cancel-and-upload {
  display: flex;
  gap: var(--size-4);
}

.cancel-and-upload button:first-child {
  background: var(--primary-color);
}

.cancel-and-upload button:last-child {
  background: var(--accent-color);
}

.video-and-description input,
.video-and-description textarea {
  height: 13rem;
  width: 100%;
  box-sizing: border-box;
}

.create-new-post-modal form {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  margin-top: var(--size-2);
  height: auto;
}
