.side-bar-nav {
  position: sticky;
  display: grid;
  height: 100svh;
  top: 0;
  bottom: 0;
  grid-template-rows: auto auto 1fr;
  padding: var(--size-3) var(--size-3);
  border-right: 0.1rem solid var(--border-color);
  width: auto;
  overflow: hidden;
}

.side-bar-nav div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 0;
}

.side-bar-nav .nav-title {
  padding: 0 var(--size-3);
}

.side-bar-nav nav {
  height: 100%;
}

.side-bar-nav button {
  padding: var(--size-3);
  display: block;
  color: var(--body-color) !important;
  border-radius: 1.5rem;
  width: 100%;
  margin-bottom: var(--size-3);
  transition: 500ms;
}

.side-bar-nav div:first-child {
  display: grid;
  align-items: center;
  height: var(--size-2);
  margin-bottom: var(--size-2);
}

.side-bar-nav div:last-child {
  align-self: end;
}

.side-bar-nav div:last-child button:last-child {
  margin-bottom: 0;
}

.side-bar-nav ul li button:hover {
  background-color: var(--hover-color) !important;
}
